<!-- [style]="'color: ' + fColor + ';'"-->

<mat-card class="app-card1" [style]="'background-color: ' + bg + ';' + 'color: ' + fColor +';' + ' height:  ' + alturaCard +';'">
    
    <mat-card-header>

        <mat-card-title class="titulo" [style]=" 'color: ' + fColor +';'">{{ plan }}</mat-card-title>
        <mat-card-subtitle class="preco" [style]="'font-weight: bold;' + 'color: ' + fColor +';'"> <span>$</span> {{ price }}</mat-card-subtitle>
    
    </mat-card-header>
   
    <mat-card-content>

        <div class="lista">

        <mat-list>

            <mat-divider inset [style]="'color: ' + fColor +';'"></mat-divider>
            <mat-list-item class="item" [style]="'color: ' + fColor +';' "> {{ storage }}</mat-list-item>
            <mat-divider inset [style]="'color: ' + fColor +';'"></mat-divider>
            <mat-list-item class="item" [style]="'color: ' + fColor +';'"> {{ user }}</mat-list-item>
            <mat-divider inset [style]="'color: ' + fColor +';'"></mat-divider>
            <mat-list-item class="item" [style]="'color: ' + fColor +';'"> {{ up }}</mat-list-item>
            <mat-divider inset [style]="'color: ' + fColor +';'"></mat-divider>
        
        </mat-list>

        </div>

        <mat-card-actions>

            <button mat-button [style]="'color: ' + fColor +';'" (click)="emitirEventoPersonalizado()" >LEARN MORE</button>
        
        </mat-card-actions>
        
    </mat-card-content>
</mat-card>