/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {  text-align: center; background-color: rgb(147, 255, 174); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
